services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    networks:
      - fscs-network
    stdin_open: true
    tty: true
    command: tail -f /dev/null
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=fscs
      - DB_PASSWORD=fscs
      - MONGO_INITDB_DATABASE= mongodb
      - MONGO_INITDB_ROOT_USERNAME= fscs
      - MONGO_INITDB_ROOT_PASSWORD= fscs
    depends_on:
      - laravel-nginx
      - react-nginx
      - laravel
      - react
      - mysql
      - mongodb

  laravel:
    build:
      context: ../backend
      dockerfile: Dockerfile
    image: laravel:11
    volumes:
      - ./backend/php.ini:/usr/local/etc/php/php.ini
      - ../backend:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=fscs
      - DB_PASSWORD=fscs
      - MONGO_DB_CONNECTION=mongodb
      - MONGO_DB_HOST=mongodb
      - MONGO_DB_PORT=27017
      - MONGO_DB_DATABASE=fscs
      - MONGO_DB_USERNAME=fscs
      - MONGO_DB_PASSWORD=fscs
    depends_on:
      - mysql
      - mongodb
    networks:
      - fscs-network

  laravel-nginx:
    image: nginx:alpine
    ports:
      - "81:80"
    volumes:
      - ./backend/nginx.conf:/etc/nginx/nginx.conf
      - ../backend:/var/www/html
    depends_on:
      - laravel
    networks:
      - fscs-network

  react:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend:/usr/share/nginx/html
    networks:
      - fscs-network

  react-nginx:
    image: nginx:alpine
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/:/usr/share/nginx/html/
    depends_on:
      - react
    ports:
      - "82:80"
    networks:
      - fscs-network

  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: fscs
      MYSQL_PASSWORD: fscs
    networks:
      - fscs-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: fscs
      PMA_PASSWORD: fscs
    depends_on:
      - mysql
    networks:
      - fscs-network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: fscs
      MONGO_INITDB_ROOT_USERNAME: fscs
      MONGO_INITDB_ROOT_PASSWORD: fscs
    networks:
      - fscs-network

  mongo-express:
    image: mongo-express:latest
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: fscs
      ME_CONFIG_MONGODB_ADMINPASSWORD: fscs
      ME_CONFIG_BASICAUTH_USERNAME: fscs
      ME_CONFIG_BASICAUTH_PASSWORD: fscs
      ME_CONFIG_BASICAUTH: false
    networks:
      - fscs-network
    depends_on:
      - mongodb

networks:
  fscs-network:
